.logo_size{
    height:60px;
    width:60px;
}
#custmo_nav{
    font-family:roboto;
    font-size: 20px;
    font-style:italic;
    color: rgb(223, 58, 58) !important;

}
#custmo_nav1{
    font-family:roboto;
    font-size: 20px;
    font-style:italic;
    color: rgb(223, 58, 58) !important;

}
#custmo_nav2{
    font-family:roboto;
    font-size: 20px;
    font-style:italic;
    color: rgb(223, 58, 58) !important;

}
#custmo_nav3{
    font-family:roboto;
    font-size: 20px;
    font-style:italic;
    color: rgb(223, 58, 58) !important;

}
.bg{
    background-image:url('ag6.png');
    background-size: cover;
    height:100vh;
    width:100vw;
}
.head1{
    font-family:roboto;
    font-style: italic;
    color:#ffffcc;
    font-size:28px;
    font-weight: 29;
}
.bd{
    border-radius:14px;
    width:20vw;
    height:8vh;
}
.btn1{
    height: 6vh;
    width:8vw;
    border-radius: 8px;

}